.heading{
    background-color: rgba(0, 204, 0, 0.349);
    border: 5px solid black;
    padding: 25px;
}

.background{
    background-image: url("https://cdn5.vectorstock.com/i/1000x1000/22/74/american-football-field-background-vector-5012274.jpg");
    border: 2px solid black;
}

.player-roster{
    /* background-color: green; */
    border: 5px solid black;
}

.player-card{
    background-color: rgba(255, 255, 255, 0.25);
    border: 5px solid black;
    height: 100%;
}

.my-team{
    background-color: green;
    border: 5px solid black;
}

img {
    max-width: 100%;
    height: auto;
}

body{
    font-size: 100%
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 1.865em;
}

h4 {
    font-size: 1.4em;
}